.plan__wrapper {
  height: calc(100vh - var(--main-top-margin));
  display: flex;
  flex-direction: column;
}

.plan__title {
  font-size: 18px;
  padding-top: 16px;
  text-align: center;
}

.plan__description {
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
}

.plan__list {
  display: flex;
}