.title {
  font-size: 18px;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.list {
  width: 100%;
}

.item {
  padding: 0px !important;
  margin: 0px !important;
}

.icon__wrapper {
  width: 30px;
  height: 30px;
}

.icon {
  font-size: 11px !important;
}

.text {
  font-size: 16px !important;
  font-weight: bold !important;
  position: relative;
  left: -3;
}