.row__item {
  &:hover .row__title {
    top: 10px;
  }

  &:hover .row__control {
    visibility: visible;
    opacity: 1;
    display: flex;
    top: 5px;
  }

  // &:hover>.project__controlWrap {
  //   top: 7;
  //   opacity: 1;
  // }
}

.row__titleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__title {
  font-size: 18px;
  position: relative;
  top: 0;
  transition: top 0.5s;
}

.row__key {
  transform: scale(0.8);
  left: 20;
  position: relative;
}

.row__control {
  display: flex;
  position: absolute;
  top: 0;
  transition: 0.5s;
  opacity: 0;
}

.row__controlItem {
  font-size: 10;
  opacity: 0.7;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.row__controlItem:first-child {
  margin-left: 0px;
}

.row__controlIcon {
  margin-left: 3px;
  font-size: 14px;
}